<!DOCTYPE html>
<html>
<head>
    <title>PlayCanvas glTF Viewer</title>
    <meta name="description" content="Fast and lightweight glTF 2.0 scene viewer powered by the PlayCanvas WebGL engine">
    <meta name="keywords" content="glTF, GLB, WebGL, PlayCanvas, Viewer">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <% if (htmlWebpackPlugin.options.hasPublicPath) { %>

    <link rel="icon" type="image/png" href="/viewer/static/playcanvas-logo.png" />
    <link rel="manifest" href="/viewer/static/manifest.json">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.analyticsID %>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '<%= htmlWebpackPlugin.options.analyticsID %>');
    </script>
    <% } else { %>
    <link rel="icon" type="image/png" href="./static/playcanvas-logo.png" />
    <link rel="manifest" href="./static/manifest.json">
    <% } %>
</head>

<body>
    <div id='app'></div>
</body>
</html>
