<!DOCTYPE html>
<html>
<head>
    <title>PlayCanvas glTF Viewer</title>
    <meta name="description" content="Fast and lightweight glTF 2.0 and gaussian splatting PLY scene viewer powered by the PlayCanvas engine.">
    <meta name="keywords" content="glTF, GLB, PLY, WebGL, WebGPU, PlayCanvas, Viewer">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    {{#hasPublicPath}}
    <link rel="icon" type="image/png" href="/model-viewer/static/playcanvas-logo.png" />
    <link rel="manifest" href="/model-viewer/static/manifest.json">
    <link rel="stylesheet" href="/model-viewer/style.css" />
    <script type="text/javascript">
        if (/playcanvas\.com/.test(window.top.location.host)) {
            document.write('<link rel="stylesheet" href="/model-viewer/fonts.css" />');
        }
    </script>
    {{#hasAnalyticsID}}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }

        {{#hasOneTrustDeveloperID}}
        gtag('set', '{{{ oneTrustDeveloperID }}}', true); // OneTrust developer id
        {{/hasOneTrustDeveloperID}}

        gtag('consent', 'default', {
            'analytics_storage': 'denied',
            'ad_storage': 'denied',
            'wait_for_update': 1000
        });

        gtag('js', new Date());
        gtag('config', '{{{ analyticsID }}}');

        if (!window._optanonCallbacks) {
            window._optanonCallbacks = [];
        }

        _optanonCallbacks.push(function () {
            // if consent given for cookies then
            // update gtag consent
            var analytics = (OnetrustActiveGroups.indexOf('C0002') != -1);
            var ads = (OnetrustActiveGroups.indexOf('C0004') != -1);
            gtag('consent', 'update', {
                'analytics_storage': analytics ? 'granted' : 'denied',
                'ad_storage': ads ? 'granted' : 'denied'
            });
        });
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id={{{ analyticsID }}}"></script>
    {{/hasAnalyticsID}}
    {{/hasPublicPath}}
    {{^hasPublicPath}}
    <link rel="icon" type="image/png" href="./static/playcanvas-logo.png" />
    <link rel="manifest" href="./static/manifest.json">
    <link rel="stylesheet" type="text/css" href="./style.css" />
    {{/hasPublicPath}}
</head>

<body>
    <a id='ar-link' rel='ar' download='asset.usdz'>
        <img />
    </a>
    <div id='app'></div>
    {{#hasPublicPath}}
    <script src="/model-viewer/index.js"></script>
    <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="{{{ oneTrustDomainKey }}}" ></script>
    <script type="text/javascript">
        if (!window._optanonCallbacks) {
            window._optanonCallbacks = [];
        }

        function OptanonWrapper() {
            for (var i = 0; i < _optanonCallbacks.length; i++) {
                _optanonCallbacks[i]();
            }
        }
    </script>
    {{/hasPublicPath}}
    {{^hasPublicPath}}
    <script src="./index.js"></script>
    {{/hasPublicPath}}
</body>
</html>
