<!DOCTYPE html>
<html>
<head>
    <title>PlayCanvas glTF Viewer</title>
    <meta name="description" content="Fast and lightweight glTF 2.0 scene viewer powered by the PlayCanvas WebGL engine">
    <meta name="keywords" content="glTF, GLB, WebGL, PlayCanvas, Viewer">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <% if (htmlWebpackPlugin.options.hasPublicPath) { %>
    <link rel="icon" type="image/png" href="/viewer/playcanvas-logo.png" />
    <% } else { %>
    <link rel="icon" type="image/png" href="./playcanvas-logo.png" />
    <% } %>
    <link rel="manifest" href="manifest.json">
</head>

<body>
    <div id="flex-container">
        <div id="panel">
            <div id="panel-toggle"></div>
            <% if (htmlWebpackPlugin.options.hasPublicPath) { %>
            <div class="header" href="#" style="display: none;"><a href="#"><img src="/viewer/playcanvas-logo.png"/><div><b>PLAY</b>CANVAS <span>viewer</span></div></a></div>
            <% } else { %>
            <div class="header" href="#" style="display: none;"><a href="#"><img src="./playcanvas-logo.png"/><div><b>PLAY</b>CANVAS <span>viewer</span></div></a></div>
            <% } %>
            <div id="controls"></div>
        </div>
        <!-- The canvas element -->
        <canvas id="application-canvas"></canvas>
    </div>
</body>
</html>
