html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    max-height: 100%;
}

#app {
    height: 100%;
}

#application-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: stretch;
}

#panel-left {
    width: 300px;
    height: 100%;
    background-color: #374346;
    display: flex;
    overflow-y: hidden;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
}

#panel-left.collapsed {
    width: 32px !important;
    overflow: hidden;
    overflow-y: hidden !important;
}

#panel-left.collapsed #panel-toggle::before {
    transform: translateY(-50%) translateX(-50%) rotateZ(90deg);
}

#panel-toggle {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    padding: 0;
    cursor: pointer;
}

#panel-toggle::before {
    font-family: 'pc-icon';
    content: '\E183';
    font-weight: 200;
    font-size: 14px;
    margin-right: 10px;
    text-align: center;
    color: #f60;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#panel-toggle:hover::before {
    color: white;
}

#scene-panel > .pcui-panel-content {
    margin-right: 6px;
}

#canvas-wrapper {
    position: relative;
    width: 0 !important;
    flex-grow: 1;
    display: flex;
}

#application-canvas {
    width: 0 !important;
    flex-grow: 1;
    height: 500px;
}

h3 {
    margin: 0px;
    padding: 5px;
    font-size: 9pt;
    color: #fff;
    background-color: #293538;
}

label {
    display: inline-block;
    vertical-align: middle;
    font-size: 10pt;
    color: #bbb;
    width: 60px;
}

button {
    width: 100%;
    text-align: left;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    margin: 0px;
    padding: 0px;
}

input {
    font-size: 10pt;
    width: 170px;
    margin: 0px;
    vertical-align: middle;
    background-color: 293538;
}

.header {
    display: block !important;
    margin: 0px;
    height: 32px;
    line-height: 32px;
    flex-shrink: 0;
    flex-grow: 0;
}

.header img {
    width: 32px;
    height: 32px;
}

.header div {
    color: #fff;
    display: inline-block;
    vertical-align: top;
    line-height: 32px;
    padding: 0px 0px 0px 8px;
}

.header span {
    color: #b1b8ba;;
}

.pcui-infobox {
    border-radius: 8px;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.pcui-infobox.pcui-error {
    position: absolute;
}

#popup-buttons-parent {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
}

.popup-button {
    margin: 12px !important;
    color: white;
    border: 0px !important;
    background-color: rgba(32, 32, 32, 0.4) !important;
}

.popup-button.selected {
    background-color: rgba(32, 32, 32, 0.8) !important;
}

.popup-button::before {
    font-size: 16px !important;
}

.popup-panel-parent > .pcui-container {
    position: absolute;
}

.popup-panel {
    position: absolute;
    width: 400px;
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
    padding: 16px 16px 16px 16px;
    border-radius: 8px;
    font-size: 16px;
    background-color: rgba(64, 64, 64, 0.6);
}

#floating-buttons-parent {
    position: absolute;
    right: 40px;
    bottom: 40px;
}

.download-button::before, .fullscreen-button::before {
    font-size: 16px !important;
}

#github-button {
    margin: 0px;
    padding: 0px;
}

#scene-container {
    height: 100%;
}

#scene-scrolly-bits {
    flex-grow: 1;
    overflow-y: auto;
}

.selected-node-panel-parent > .pcui-container {
    position: absolute;
}

.selected-node-panel {
    position: absolute;
    right: 40px;
    top: 40px;
    display: flex;
    align-items: center;
    width: 350px;
    margin: 12px;
    padding: 16px 16px 16px 16px;
    border-radius: 8px;
    background-color: rgba(64, 64, 64, 0.6);
}

.scene-hierarchy-panel .scene-morph-panel {
    width: 100%;
}

.scene-hierarchy-panel, .selected-node-panel {
    /* margin: 6px; */
    border: 1px solid rgb(41, 53, 56);
}

/* .scene-hierarchy-panel > .pcui-panel-content {
    overflow: auto;
} */

.scene-hierarchy-panel .pcui-treeview-item-text {
    font-size: 14px;
}

.selected-node-panel > .pcui-panel-content {
    padding-right: 6px;
}

.animation-controls-panel-parent {
    margin: 12px;
    padding: 0px 8px;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: rgba(64, 64, 64, 0.6);
}

.animation-panel {
    position: absolute;
    width: 400px;
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);
    padding: 16px 16px 16px 16px;
    border-radius: 8px;
    font-size: 16px;
    background-color: rgba(64, 64, 64, 0.6);
}

.anim-control-button {
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0px !important;
}

#load-controls .pcui-container {
    position: absolute;
}

.load-button-panel {
    width: 320;
    width: 320;
    background-color: #475457;
    padding: 16px 16px 16px 16px;
    border-radius: 8px;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.centered-label {
    text-align: center;
}

.load-button-panel.hide {
    display: none !important;
}

.initial-cta.no-cta {
    display: none !important;
}

.pcui-infobox.pcui-error :first-child {
    color: red;
}

.pcui-infobox.pcui-error:before {
    color: red;
}

.controls {
    margin: 0px;
    padding: 10px 4px;
    background-color: #374346;
}

.controls div {
    margin: 3px 0px;
}

#scrub-container {
    text-align: center;
    margin: 2px 0px 10px 0px;
}

#scrub-container input {
    width: 40px;
}

.panel-option {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px !important;
}

.panel-label {
    width: 30%;
    font-size: 14px;
    flex-shrink: 0;
    margin: 2px;
}

.panel-value {
    flex-grow: 1;
    font-size: 14px;
    margin: 2px !important;
}

.panel-value-boolean {
    
}

.morph-label {
    width: 40px;
    font-size: 14px;
}

.morph-value {
    font-size: 14px;
    margin: 2px !important;
    width: 180px;
}

.pcui-select-input-value {
    font-size: 14px;
}

#anim-speed-select span {
    overflow: visible !important;
}

#anim-scrub-slider > .pcui-text-input {
    display: none;
}

#anim-scrub-slider > .pcui-slider-container > .pcui-slider-bar > .pcui-slider-handle {
    transition: none;
}

.morph-target-panel {
    margin: 6px;
    border: 1px solid #232e30 !important;
}

.morph-target-label {
    min-width: 24% !important;
}

@keyframes animation-spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
}

.pcui-spinner {
    position: absolute;
    margin: 0;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #20292b;
}
::-webkit-scrollbar-thumb {
    background: #5b7073;
}
/* ::-webkit-scrollbar-corner {
    background: $editor-tooltip-bg;
} */

#panel-left.collapsed #scene-container, #panel-left.collapsed .header {
    display: none !important;
}

.font-thin {
    font-family: 'Proxima Nova Thin', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
}

.font-light {
    font-family: 'Proxima Nova Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
}

.font-regular {
    font-family: 'Proxima Nova Regular', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.font-bold {
    font-family: 'Proxima Nova Bold', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
}
